p, span {
}
.layoutheader-transparent {
    background: url('/images/green1.jpg') center / cover;


}

.layoutheader-transparent .mdl-layout__haeader,
.layoutheader-transparent .mdl-layout__drawer-button {
    color: white;
}

.mdl-card {
    width:98%;
    margin:1em;
    padding:1em;
}